@model DocumentApp.Models.PerfilViewModel

@{
    ViewBag.Title = "MantenimientoPerfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MantenimientoPerfil</h2>

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Mantenimiento de perfiles</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
        </div>
    </div>
    <div>
        <button type="button" id="btnRegistroPerfil" class="btn btn-primary">Registrar nuevo perfil</button>
    </div>
    <div class="box">
        <div class="box-header with-border">
            <h5 class="modal-title text-bold">Lista de Perfiles</h5>
        </div><!-- /.box-header -->
        <div class="box-body">

            <table id="profileTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Descripci&oacute;n</th>
                        <th style="width: 40px">Acci&oacute;n</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Items.Any())
                    {
                        foreach (var item in Model.Items)
                        {
                            <tr class="text small">
                                <td style="width: 10px">
                                    @Html.DisplayFor(modelItem => item.Nro)
                                </td>
                                <td style="width: 10px">
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </td>
                                <td style="width: 160px">
                                    <div id="divbotonesAccionGrid" class="text-center btn-group-xs">
                                        <a class="btn btn-primary btn-flat" href="javascript:void(0);" onclick="jsEdicionelement('@item.Id', '@item.Descripcion');">
                                            <span class="fa fa-edit fa-lg"></span>  Editar
                                        </a>
                                        <a class="btn btn-danger btn-flat" href="javascript:void(0);" onclick="jsDeletelement('@item.Id');">
                                            <span class="fa fa-trash-o fa-lg"></span>  Eliminar
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3" class="text small text-info">No se encontraron perfiles registrados&hellip;</td>
                        </tr>
                    }

                </tbody>
            </table>

            <!-- pager -->

            @if (Model.Pager.EndPage > 1)
            {
                <ul class="pagination">
                    @if (Model.Pager.CurrentPage > 1)
                    {
                        <li>
                            <a href="~/Perfil/MantenimientoPerfil">First</a>
                        </li>
                        <li>
                            <a href="~/Perfil/MantenimientoPerfil?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                        </li>
                    }

                    @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                    {
                        <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                            <a href="~/Perfil/MantenimientoPerfil?page=@page">@page</a>
                        </li>
                    }

                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                    {
                        <li>
                            <a href="~/Perfil/MantenimientoPerfil?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                        </li>
                        <li>
                            <a href="~/Perfil/MantenimientoPerfil?page=@(Model.Pager.TotalPages)">Last</a>
                        </li>
                    }
                </ul>
            }
        </div>


    </div><!-- /.box -->
</div>

<!--MODAL.AGREGAR-PERFIL-->
<div id="myModalAddPerfil" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-blue-gradient">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title"><i class="fa fa-user" aria-hidden="true"></i> Registro de Perfil</h5>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user-plus"></i></span>
                    <input id="txtNombrePerfil" type="text" class="form-control" placeholder="Agregar Nuevo Perfil" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                <button type="button" id="btnSavePerfil" class="btn btn-primary" data-dismiss="modal">Registrar</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL.EDITAR-PERFIL-->
<div id="myModalEditPerfil" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-blue-gradient">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title"><i class="fa fa-user" aria-hidden="true"></i> Editar Perfil</h5>
            </div>
            <div class="modal-body">
                <div id="idperfil" hidden></div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                    <input id="txtEditPerfil" type="text" class="form-control" placeholder="Descripcion" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                <button type="button" id="btnUpdatePerfil" class="btn btn-primary" data-dismiss="modal">Actualizar</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL.ELIMINAR-PERFIL-->
<div id="myModalDeletePerfil" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-red-active">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title"><i class="fa fa-trash" aria-hidden="true"></i> Alerta!</h5>
            </div>
            <div class="modal-body text-center">
                ¿Esta Seguro de eliminar el perfil? Los usuarios asignados a este perfil perderán el permiso respectivo a la carpeta.
                <br />
                <div id="tdelmsg"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                <button type="button" id="btnDeletePropOK" class="btn btn-primary" data-dismiss="modal">Eliminar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script type="text/javascript">

    //var idPerfil = 0;

    $("#btnRegistroPerfil").click(function () {
        $("#txtNombrePerfil").val("");
        $('#myModalAddPerfil').modal('show');
        $('#myModalAddPerfil').on('shown.bs.modal', function () {
            $("#txtNombrePerfil").focus();
        });
    });

    //$('#myModalAddPerfil').on('hidden.bs.modal', function () {
    //    //window.alert('hidden event fired!');
    //    location.reload();
    //});

    $("#btnSavePerfil").click(function () {

        var descripcion = document.getElementById("txtNombrePerfil").value;
        var url = '@Url.Action("Registrar", "Perfil")';

        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            url: url,
            data: '{"perfil":"' + descripcion + '"}',
            datatype: 'json',
            success: function (result) {
                //si registro correctamente recargamos la grilla
                location.reload();
            },
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            }
        });
    });

    function jsEdicionelement(id, descripcion) {
        //alert(id + descripcion);
        $('#idperfil').text(id);
        $('#txtEditPerfil').val(descripcion);

        $('#myModalEditPerfil').modal('show');
        $('#myModalEditPerfil').on('shown.bs.modal', function () {
            $("#txtEditPerfil").focus();
        });
    };

    function jsDeletelement(id) {
        //alert(id);
        $('#idperfil').text(id);
        $('#myModalDeletePerfil').modal('show');
    };


    $("#btnUpdatePerfil").click(function () {

        var id = $('#idperfil').text();
        var descripcion = document.getElementById("txtEditPerfil").value;
        var url = '@Url.Action("Actualizar", "Perfil")';

        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            url: url,
            data: '{"id":"' + id + '","descripcion":"' + descripcion + '"}',
            datatype: 'json',
            success: function (result) {
                //si registro correctamente recargamos la grilla
                location.reload();
            },
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            }
        });
    });

    $("#btnDeletePropOK").click(function () {
        var id = $('#idperfil').text();
        //alert(id);
        var url = '@Url.Action("Eliminar", "Perfil")';

        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            url: url,
            data: '{"id":"' + id + '"}',
            datatype: 'json',
            success: function (result) {
                //si registro correctamente recargamos la grilla
                location.reload();
            },
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            }
        });
    });

</script>